html, body {
	margin: 0;
	padding: 0;
	background-color:rgb(242, 242, 242);
}
header{
	background-color:#E50B07;
	height:50%;
	padding-bottom:6%;
	padding-top:2%;
}
#topwrap{
	margin: auto;
	width:60%;
	border:1px solid #E50B07;
}
#logo{
	float:left;
	background-image: url('../pic/spiik_logo_black.png');
	background-repeat: no-repeat;
	height:210px;
	width:221px;
	position:relative;
	left:8%;
}

#title h1{
	margin:0;
	padding:0;
	margin-top:5%;
}

#title p{
	margin:0;
	padding:0;
	font-size:1.7em;
	letter-spacing: 5px;
}

#title{
	font-size:1.5em;
	font-family: 'Bitter', serif;
	color: white;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
	text-align:center;
}
#menu li{
	
	float:left;
	list-style-type:none;
	position:relative;
	padding: 4px 12px 3px 12px;
	transition: all 100ms ease;
	border:1px solid #C50101;
	border-bottom:none;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#menu a{
	text-decoration:none;
	width: 100%;
	padding: 0 12px 0 12px;
	color:rgb(73, 11, 11);
	font-size:1.1em;
	height: 30px;
}
#menu li:hover{
	background-color:white;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#menu{
	margin:auto;
	background-color:#E50B07;
	width:100%;
	display: -webkit-box;
	font-family: 'Roboto', sans-serif;
	
}
#menu ul{
	padding:0;
	margin:auto;
}

#selected{
	background-color:white;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}


article{
	padding:2%;
	margin: auto;
	width:800px;
	background-color:white;
}
article h1{
	padding:0;
	margin:0;
	font-size:2em;
	
}

section{
	width:100%;
}